@import "tailwindcss";

*::selection {
    background-color: #36a4a4;
    /* background-color: #46eeee; */
    color: black;
}

* {
    font-family: serif;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

