@import "tailwindcss";

/* *::selection {
    background-color: #36a4a4;
    color: black;
} */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

