// Profile image
.img-contrast {
    filter: brightness(1.05) saturate(1.05) contrast(1.02);
}

// Typing effect
.typing-cursor::after {
    content: '|';
    color: rgba(11, 137, 137, 0.311);
}

// Skills grid layout
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

// Projects container grid
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

// Card glowy div
.glowy-div-dark {
    background: radial-gradient(circle at center,
            rgba(255, 255, 255, 0.12) 0%,
            rgba(255, 255, 255, 0.06) 25%,
            rgba(255, 255, 255, 0.03) 50%,
            rgba(255, 255, 255, 0.01) 75%,
            transparent 100%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    filter: blur(0.5px);
    mix-blend-mode: overlay;
}

.glowy-div-light {
    background: radial-gradient(circle at center,
            rgba(2, 0, 13, 0.08) 0%,
            rgba(0, 0, 0, 0.04) 25%,
            rgba(0, 0, 0, 0.02) 50%,
            rgba(0, 0, 0, 0.01) 75%,
            transparent 100%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    filter: blur(0.5px);
    mix-blend-mode: overlay;
}

// Media queries
@media (max-width: 470px) {
    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}